*{
	box-sizing: border-box;
}
.container{
	max-width: 1024px;
	width: 100%;
	margin:0 auto;
}
.servicios{
	width: 100%;

	background-image: url(../img/fondo.jpg);
	height:600px;
	background-position: center;
	/*background-size: 100% 100%;*/
	background-size: cover;
	/*background-size: 100%;*/
	padding-top: 290px;
}
.title{
	color:white;
	font-family: arial;
	font-size: 30px;
	text-align: center;
}
/*
.fondo{
	width: 100%;

}*/


.ico-redes{
	width: 80px;
	height: 80px;
	background-image: url(http://4.bp.blogspot.com/-Pe-J5S7YCa0/UdXsJoN7GLI/AAAAAAAAL68/ongZAtcNF1E/s1600/spice-social-gadget-sprite.png);
	display: inline-block;
	
	border-radius: 50%;
}

.ico-face{
	background-position: 0px -170px;
	/*transition: all 0.2s linear;*/
}
.ico-face:hover{
	background-position: 0px -84px;
}
.ico-twitter{
	background-position: 250px -170px;
}
.ico-twitter:hover{
	background-position: 250px -84px;
}

