.caja{
	width: 890px;

	margin:0 auto;
	background-color: skyblue;
}
.box1{
	width: 400px;
	height: 100px;
	background-color: black;
	float: left;
	margin-left: 30px;
	margin-top: 100px;
}
.box2{
	width: 400px;
	height: 200px;
	background-color: green;
	float: right;
	margin-right: 30px;
}


.limpiarfloat{
clear: both;
}

